<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>SM-T830</string>
	<string>SM-T875</string>
	<string>SM-T976B</string>
	<string>SM-N975F</string>
	<string>SM-T730</string>
	<string>RMX1833</string>
</array>
</plist>
