<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>4.0</string>
	<key>favorites</key>
	<array/>
	<key>FTDefaultPenRack</key>
	<dict>
		<key>currentColors</key>
		<array>
			<string>151515</string>
			<string>06438B</string>
			<string>067C4C</string>
			<string>9E0B0F</string>
			<string>A38A08</string>
			<string>858D8F</string>
			<string>C4C4C4</string>
			<string>2B5A75</string>
			<string>B7603A</string>
			<string>EB4081</string>
			<string>595044</string>
			<string>EB40B1</string>
			<string>F8713A</string>
			<string>767676</string>
		</array>
		<key>defaultColors</key>
		<array>
			<string>151515</string>
			<string>06438B</string>
			<string>067C4C</string>
			<string>9E0B0F</string>
			<string>A38A08</string>
			<string>858D8F</string>
			<string>C4C4C4</string>
			<string>2B5A75</string>
			<string>B7603A</string>
			<string>EB4081</string>
			<string>595044</string>
			<string>EB40B1</string>
			<string>F8713A</string>
			<string>767676</string>
		</array>
		<key>sizes</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
		</array>
		<key>compactSizes</key>
		<array>
			<integer>1</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>7</integer>
		</array>
		<key>currentSelection</key>
		<dict>
			<key>Type</key>
			<integer>0</integer>
			<key>Color</key>
			<string>151515</string>
			<key>Size</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>FTDefaultHighlighterRack</key>
	<dict>
		<key>currentColors</key>
		<array>
			<string>F8E81C</string>
			<string>F6A623</string>
			<string>FA564C</string>
			<string>F05DB4</string>
			<string>AF77FD</string>
			<string>5AC8FA</string>
			<string>83ED0F</string>
			<string>E5B5B9</string>
			<string>E5E68F</string>
			<string>85F2C1</string>
			<string>B1D9F6</string>
			<string>FFF47B</string>
			<string>D9C8E8</string>
			<string>F6EF9A</string>
		</array>
		<key>defaultColors</key>
		<array>
			<string>F8E81C</string>
			<string>F6A623</string>
			<string>FA564C</string>
			<string>F05DB4</string>
			<string>AF77FD</string>
			<string>5AC8FA</string>
			<string>83ED0F</string>
			<string>E5B5B9</string>
			<string>E5E68F</string>
			<string>85F2C1</string>
			<string>B1D9F6</string>
			<string>FFF47B</string>
			<string>D9C8E8</string>
			<string>F6EF9A</string>
		</array>
		<key>sizes</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
		</array>
		<key>compactSizes</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
		</array>
		<key>currentSelection</key>
		<dict>
			<key>Type</key>
			<integer>3</integer>
			<key>Color</key>
			<string>F8E81C</string>
			<key>Size</key>
			<integer>5</integer>
		</dict>
	</dict>
</dict>
</plist>
