<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>af_ZA</key>
        <string>1b00c101-f8d2-42c8-8ff3-b006a3be9735</string>
        <key>az_AZ</key>
        <string>2a300572-71a6-4aa4-853e-4afda7c62c61</string>
        <key>be_BY</key>
        <string>320b588d-c920-47c9-a9df-816b9cbc4c36</string>
        <key>bg_BG</key>
        <string>57997505-ab34-4ae8-ac9e-4cad6bdbf42a</string>
        <key>bs_BA</key>
        <string>73778de7-269f-4910-8d34-fa9013dd5ca3</string>
        <key>ca_ES</key>
        <string>d408e893-add7-42cc-a80d-8684c3a76c04</string>
        <key>ceb_PH</key>
        <string>9ba6d889-5530-4c39-9d27-02630e9bf21f</string>
        <key>cs_CZ</key>
        <string>d5058641-5e53-4661-8bb7-96030d8f037e</string>
        <key>da_DK</key>
        <string>01445123-1e4c-4f0a-be8c-fd517cb2106e</string>
        <key>de_AT</key>
        <string>64681a9a-237e-4f48-9ed1-59719202017b</string>
        <key>de_DE</key>
        <string>357af038-3772-4a4d-a960-1a5b313ef33a</string>
        <key>el_GR</key>
        <string>f00d2f35-230f-4f7f-8ff2-f668462c7f28</string>
        <key>en_CA</key>
        <string>b04f1645-4368-4ef0-88b3-ec2c57b99410</string>
        <key>en_GB</key>
        <string>ab247489-e128-435b-ac7e-5cef4742ebff</string>
        <key>en_PH</key>
        <string>39feae3a-ad5a-43fb-b81a-8e8275ceb964</string>
        <key>en_US</key>
        <string>80c325e7-fb0d-4720-aa7e-fd1e6d3a5fcb</string>
        <key>es_CO</key>
        <string>f8a85c9f-e7a4-4e5a-acfc-70df98c7b6fa</string>
        <key>es_ES</key>
        <string>e9dd10b5-e518-4d10-ab4a-b21703ef3d75</string>
        <key>es_MX</key>
        <string>56a37349-cce3-49ec-ab10-4ab3b98ea3b0</string>
        <key>et_EE</key>
        <string>54a5f070-4ed0-4fdb-850b-3826e4337013</string>
        <key>eu_ES</key>
        <string>8514bf87-0251-4d82-a470-6914d2d9761f</string>
        <key>fi_FI</key>
        <string>875b120b-1ef6-4678-a663-f8e99edd3cfb</string>
        <key>fil_PH</key>
        <string>eafc653c-4b7d-47e9-86ac-e0a699e28538</string>
        <key>fr_CA</key>
        <string>48274304-efba-4252-ad6e-574370557284</string>
        <key>fr_FR</key>
        <string>47b489c2-ee43-4588-a508-d2f415652610</string>
        <key>ga_IE</key>
        <string>a4b93539-5e54-41d9-9084-ea9bc45d6593</string>
        <key>gl_ES</key>
        <string>82e1724f-63aa-4977-86fa-312bf58bba85</string>
        <key>hr_HR</key>
        <string>bee8aa4d-bb9a-4e9a-93a1-64a80b0ffcc0</string>
        <key>hu_HU</key>
        <string>8d7321b1-4734-4be5-95ec-c12c17d8024c</string>
        <key>hy_AM</key>
        <string>3fe3fc18-6130-4344-92a6-2469017140ff</string>
        <key>id_ID</key>
        <string>e113d380-9955-4b89-8674-351627c0619f</string>
        <key>is_IS</key>
        <string>b40f6691-0db5-4ac7-bfab-58a763a57864</string>
        <key>it_IT</key>
        <string>2902f011-6687-4ca0-9c41-7785373f70cb</string>
        <key>ja_JP</key>
        <string>59773127-ea15-466e-8f2e-d32529d98441</string>
        <key>ka_GE</key>
        <string>6518e40d-8021-4734-9e3c-70ebb13a6e70</string>
        <key>kk_KZ</key>
        <string>e4483d05-6c19-4b07-a098-b19966de3b74</string>
        <key>ko_KR</key>
        <string>62aa7f25-50cc-4503-92b5-992eb3150db0</string>
        <key>lt_LT</key>
        <string>b06ba7ac-17f6-4e93-9812-fcd9b37d5c8c</string>
        <key>lv_LV</key>
        <string>53d3c331-049f-4edf-a259-29ed18ecc25a</string>
        <key>mg_MG</key>
        <string>da631a9e-7399-49ba-87a7-7f550dfe00b4</string>
        <key>mk_MK</key>
        <string>36b239df-7234-4a89-907e-42d235ecedfb</string>
        <key>mn_MN</key>
        <string>e22e8dbb-07be-4032-8cde-75bb371bb401</string>
        <key>ms_MY</key>
        <string>6ee4e4e5-61ec-4faf-8a8c-3e7e80086cb6</string>
        <key>nl_BE</key>
        <string>1b8d5b48-8958-47e9-9603-2d709b8cff46</string>
        <key>nl_NL</key>
        <string>7e05db78-7a86-461a-9a24-d2ade3db4621</string>
        <key>no_NO</key>
        <string>172bbcbb-ad66-420e-bc40-7b70d9f840d4</string>
        <key>pl_PL</key>
        <string>5bc154d9-b9ed-4c2f-a50c-aa7f35c76e4d</string>
        <key>pt_BR</key>
        <string>ac3696e4-88ce-4833-a50a-b64988b9c2c4</string>
        <key>pt_PT</key>
        <string>5fe5f318-881d-4721-9499-1bff6bdb9216</string>
        <key>ro_RO</key>
        <string>a8331c97-8de3-4ca9-a83c-3e84761b7f5a</string>
        <key>ru_RU</key>
        <string>f476bd42-60cc-4907-b37b-8e53b00ea222</string>
        <key>sk_SK</key>
        <string>7f92a814-cc59-446c-a907-bea4821a7aaf</string>
        <key>sl_SI</key>
        <string>86822077-e2dc-4b13-b7cb-e22ef6b9211f</string>
        <key>sq_AL</key>
        <string>c5807984-c6ec-45e3-a41c-25a32f18033f</string>
        <key>sr_Cyrl_RS</key>
        <string>c4f 0b126-4dba-4b00-8d0c-c85d52db7bb3</string>
        <key>sr_Latn_RS</key>
        <string>7ff415ea-a635-46e0-bf64-35f80ede36a3</string>
        <key>sv_SE</key>
        <string>9df90a65-b65d-4930-b692-0635c6bf8009</string>
        <key>sw_TZ</key>
        <string>ce98bc00-2dc9-42e6-8298-96a88f513519</string>
        <key>tr_TR</key>
        <string>b2dc82dc-d2ce-42be-b06b-f7f53dcb165f</string>
        <key>tt_RU</key>
        <string>07ce8935-6f9e-4dce-b4f5-1e96321ca0fa</string>
        <key>uk_UA</key>
        <string>5e59f27a-0e96-4bfa-b87f-dc4311d8e206</string>
        <key>vi_VN</key>
        <string>052d8d67-7e28-4f71-865e-41715ee66ce6</string>
        <key>zh_CN</key>
        <string>1be7e1c3-b426-4761-b985-8a89b84e8562</string>
        <key>zh_HK</key>
        <string>9e211435-043b-427d-82b1-d6500d3ba060</string>
        <key>zh_TW</key>
        <string>adeac16e-6475-4aa8-9342-4857171d3335</string>

    </dict>
</plist>