<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>af_ZA</key>
        <string>d8d7fc4c-44fb-459b-b6a8-90d635ca1436</string>
        <key>ar</key>
        <string>9875c906-195b-4414-9847-7603da9fd038</string>
        <key>as_IN</key>
        <string>05f2edda-e8d9-4ba2-be97-cc30d8ce860d</string>
        <key>az_AZ</key>
        <string>0e57ba7f-1b94-45e7-9372-7499ef5b1a1a</string>
        <key>be_BY</key>
        <string>e07b6a50-bd37-4fb3-ab8d-eaefc1b0fe75</string>
        <key>bg_BG</key>
        <string>cb399849-0c74-43bb-9157-4f6f243ca4bd</string>
        <key>bn_BD</key>
        <string>2f0ef20c-201b-4cb4-b2d6-e1c93fd3afd9</string>
        <key>bs_BA</key>
        <string>689f0dc0-b091-4dd2-ad42-4384b8e87dac</string>
        <key>ca_ES</key>
        <string>ee7390c2-2bad-4832-8573-a6c34266fbd5</string>
        <key>cs_CZ</key>
        <string>ff461484-55f2-4565-8d75-8efe5ea3de28</string>
        <key>cy_GB</key>
        <string>06f1d361-dd19-4bbc-af9b-8aeddd76de11</string>
        <key>da_DK</key>
        <string>80c86532-1662-4543-a587-94cd0738c0ea</string>
        <key>de_AT</key>
        <string>5202237b-b752-450e-836c-a04f8a2b7d9f</string>
        <key>de_CH</key>
        <string>22fc8fec-0901-4047-bbd7-bb5ab63cfdbf</string>
        <key>de_DE</key>
        <string>062affab-833b-4665-b232-7032d129b76b</string>
        <key>de_LI</key>
        <string>30edb7a0-50d8-4544-a70f-6f0e72e5e60e</string>
        <key>de_LU</key>
        <string>3db329c7-7bc1-41d4-b7c8-0d338fbae7a9</string>
        <key>el_GR</key>
        <string>cc083ce7-1370-4e03-acab-3005837594f7</string>
        <key>en_AU</key>
        <string>07055226-6edf-4314-a21e-bb89926770b9</string>
        <key>en_CA</key>
        <string>34a3d044-974c-4ea9-b060-eaa65e58e528</string>
        <key>en_GB</key>
        <string>7a2595e4-9c25-4991-8cfa-70171f0e45ce</string>
        <key>en_US</key>
        <string>f3873e20-f1ea-48c2-a3eb-e64bd9f16b27</string>
        <key>es_CO</key>
        <string>8bf23606-a221-4f9f-ac72-7ddf7bb62c50</string>
        <key>es_ES</key>
        <string>e9dbb88a-0051-4c07-9a3b-c5628b62eec2</string>
        <key>es_MX</key>
        <string>9e0625c3-75b2-483c-ad45-831f5bf5a35b</string>
        <key>es_US</key>
        <string>e74b9ff0-4174-4662-853b-536fdbef92b5</string>
        <key>et_EE</key>
        <string>581324a9-1b64-49fd-925b-b85c874138aa</string>
        <key>eu_ES</key>
        <string>2e39a0f6-1977-4cae-a2da-743602af5eee</string>
        <key>fa_IR</key>
        <string>7a651f58-3fef-4112-9381-3bc5330ae70e</string>
        <key>fi_FI</key>
        <string>52b041d7-d481-4b6f-b8f1-ad2043180872</string>
        <key>fr_BE</key>
        <string>6ef8ac35-9d82-4d98-968e-ba7dd2df8b05</string>
        <key>fr_CA</key>
        <string>3d552013-5b26-4ec9-bd03-8930d4c17a5d</string>
        <key>fr_CH</key>
        <string>a7cf9f9a-554a-45ec-bd25-640a73b693af</string>
        <key>fr_FR</key>
        <string>d30455c2-bab1-4354-a5ac-80f82e02768c</string>
        <key>fr_LU</key>
        <string>b97ffd42-b70d-4264-a7ba-8ed2205a710e</string>
        <key>fr_MC</key>
        <string>0f670ffc-1e13-428a-9dc3-f62315119cda</string>
        <key>ga_IE</key>
        <string>a090cc96-3d43-449c-abf4-8b3de5c3dc8e</string>
        <key>gl_ES</key>
        <string>8726d0f9-ace6-4305-832b-864535900fb0</string>
        <key>he_IL</key>
        <string>ceb105ba-cc67-4b85-8ae2-16ba37bedac2</string>
        <key>hg_IN</key>
        <string>21ded649-80fa-4be5-af6a-a9101b294971</string>
        <key>hi_IN</key>
        <string>bb65d4ac-0856-4c71-9d99-2c2c3ca8b4bc</string>
        <key>hr_HR</key>
        <string>d81ac7de-2113-43a0-b587-dffc20abc1d9</string>
        <key>hu_HU</key>
        <string>4ebcb3bf-d4b3-4b78-954f-a7ca9c4df209</string>
        <key>hy_AM</key>
        <string>e364838c-d696-4169-a5be-44ec5d75b5cb</string>
        <key>id_ID</key>
        <string>b44b9071-3129-47be-9790-d4635525d0b8</string>
        <key>is_IS</key>
        <string>04eff2e4-dec9-4f97-b31c-a199c7758b20</string>
        <key>it_IT</key>
        <string>557549ce-281e-4901-b945-a45574574842</string>
        <key>ja_JP</key>
        <string>3a92ca66-4032-4e04-89f5-0c0c790c9760</string>
        <key>ka_GE</key>
        <string>85f8f0cf-b931-4170-b49c-332be27a9b39</string>
        <key>kk_KZ</key>
        <string>bb4463ad-a612-40e2-b95a-83e3e41297e6</string>
        <key>ko_KR</key>
        <string>a8479abd-a811-4ae3-9cee-902e9cad5732</string>
        <key>ky_KG</key>
        <string>fcefaa52-434d-48af-9340-4de04ddd3f33</string>
        <key>lt_LT</key>
        <string>b8a51ffc-8e49-4d1d-a16c-78cabe22a5c4</string>
        <key>lv_LV</key>
        <string>4dea3ef8-94f6-4818-860a-6264895cfc28</string>
        <key>mk_MK</key>
        <string>0f5ac689-8610-4b19-b37b-16fced558e84</string>
        <key>mn_MN</key>
        <string>d6293364-3977-4766-b022-9f689ef53882</string>
        <key>mr_IN</key>
        <string>10890c0c-73fd-4fc0-b47e-e26c4930247b</string>
        <key>ms_MY</key>
        <string>b5abecc6-c228-48bf-af84-81707d1e8423</string>
        <key>nb_NO</key>
        <string>9d4c5ecb-32b7-4e1b-9fb6-7203673c366b</string>
        <key>ne_NP</key>
        <string>d3e8a657-ac7e-4a12-95f7-4953362cd3ea</string>
        <key>nl_BE</key>
        <string>a33dd6c0-463c-47f0-8337-b0fe06544328</string>
        <key>nl_NL</key>
        <string>f4babea0-53c4-4baa-9d72-887e5ab640ba</string>
        <key>pa_IN</key>
        <string>bf444af2-4457-4aa6-83a9-b5e779cdb391</string>
        <key>pl_PL</key>
        <string>3934d455-acaa-402d-9795-15a997c403cb</string>
        <key>pt_BR</key>
        <string>e368f357-e7fc-40f6-b8b5-e89a346d644b</string>
        <key>pt_PT</key>
        <string>eda634a4-e562-40a8-98e9-83ce975f287c</string>
        <key>ro_RO</key>
        <string>22334551-f560-4cbf-a97d-d0a746471a3a</string>
        <key>ru_RU</key>
        <string>28967023-3bb4-4096-8bdc-828b5f454637</string>
        <key>sk_SK</key>
        <string>01e1e215-29dc-4bc3-9176-dd3dc04bdcac</string>
        <key>sl_SI</key>
        <string>04d4edfa-c11c-47d4-a4d0-d3284270c8c9</string>
        <key>sq_AL</key>
        <string>709e9098-1250-4b72-990c-64c896c1fd7f</string>
        <key>sr_RS</key>
        <string>fb500aa1-79fa-4f23-9b1e-96d987fb51c6</string>
        <key>sv_SE</key>
        <string>6b61c088-7127-4cc4-9858-c9c0958c1b4b</string>
        <key>ta_IN</key>
        <string>95f45c95-f5e5-49ce-aff8-54705f341ab8</string>
        <key>te_IN</key>
        <string>107950e2-0365-4d6d-8724-30f713ef9e6c</string>
        <key>tg_TJ</key>
        <string>8a133b2c-95c3-413e-90e0-13a54bf252eb</string>
        <key>th_TH</key>
        <string>89bc298a-8b38-4153-a44e-0645d285cbbd</string>
        <key>tk_TM</key>
        <string>1b146b3e-d51e-41b0-8ae8-f09ff7c7bfb8</string>
        <key>tl_PH</key>
        <string>a3cfd554-9ada-4e37-97fc-eda53bde80b4</string>
        <key>tr_TR</key>
        <string>bbd950e9-6118-454b-9223-aba7144c60ef</string>
        <key>uk_UA</key>
        <string>150721cd-7003-43fe-b688-2be27e4133a4</string>
        <key>ur_PK</key>
        <string>581f270c-e4fa-42b6-9c9e-9c85b393b1af</string>
        <key>uz_UZ</key>
        <string>a7df7f24-df20-4ebe-a60f-c509b8a43c38</string>
        <key>vi_VN</key>
        <string>a61efed8-4890-41f0-b4bb-e50079b4e26b</string>
        <key>zh_CN</key>
        <string>1440bcb9-a158-4c14-893f-682b4ad375cb</string>
        <key>zh_HK</key>
        <string>e8f5f7f4-a918-43cd-8721-da108c6605b1</string>
        <key>zh_TW</key>
        <string>7a1dbb98-6142-47ab-b9c6-6fe4a0643584</string>
    </dict>
</plist>