<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamic_id</key>
	<integer>3</integer>
	<key>display_name</key>
	<string>Monthly Planner</string>
	<key>line_height</key>
	<integer>34</integer>
	<key>width</key>
	<integer>834</integer>
	<key>height</key>
	<integer>1048</integer>
	<key>display_name_ja</key>
	<string>マンスリープランナー</string>
	<key>display_name_it</key>
	<string>Pianificatore mensile</string>
	<key>display_name_es</key>
	<string>Planificador mensual</string>
	<key>display_name_de</key>
	<string>Monatsplaner</string>
	<key>display_name_zh-Hans</key>
	<string>月计划</string>
	<key>display_name_zh-Hant</key>
	<string>月計劃</string>
	<key>display_name_fr</key>
	<string>Planificateur Mensuel</string>
</dict>
</plist>
