<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>display_name</key>
	<string>Pink</string>
	<key>display_name_ja</key>
	<string>桃色</string>
	<key>display_name_it</key>
	<string>Rosa</string>
	<key>display_name_es</key>
	<string>Rosa</string>
	<key>display_name_de</key>
	<string>Rosa</string>
	<key>display_name_zh-Hans</key>
	<string>粉色</string>
	<key>display_name_zh-Hant</key>
	<string>粉紅色</string>
	<key>display_name_fr</key>
	<string>Rose</string>
</dict>
</plist>
