<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>android</key>
        <dict>
            <key>Port</key>
            <dict>
                <key>year</key>
                <dict>
                    <key>baseBoxX</key>
                    <integer>46</integer>
                    <key>baseBoxY</key>
                    <integer>306</integer>
                    <key>cellOffsetX</key>
                    <integer>25</integer>
                    <key>cellOffsetY</key>
                    <integer>27</integer>
                    <key>boxBottomOffset</key>
                    <integer>123</integer>
                </dict>
                <key>month</key>
                <dict>
                    <key>baseBoxX</key>
                    <integer>46</integer>
                    <key>baseBoxY</key>
                    <integer>365</integer>
                    <key>boxBottomOffset</key>
                    <integer>47</integer>
                </dict>
                <key>week</key>
                <dict>
                    <key>baseBoxX</key>
                    <integer>36</integer>
                    <key>baseBoxY</key>
                    <integer>133</integer>
                    <key>titleLineY</key>
                    <integer>64</integer>
                    <key>cellOffsetX</key>
                    <integer>26</integer>
                    <key>cellOffsetY</key>
                    <integer>29</integer>
                    <key>cellHeight</key>
                    <integer>349</integer>
                    <key>lastCellHeight</key>
                    <integer>162</integer>
                </dict>
                <key>day</key>
                <dict>
                    <key>baseX</key>
                    <integer>27</integer>
                    <key>baseY</key>
                    <integer>34</integer>
                </dict>
            </dict>
            <key>Land</key>
            <dict>
                <key>year</key>
                <dict>
                    <key>baseBoxX</key>
                    <integer>66</integer>
                    <key>baseBoxY</key>
                    <integer>267</integer>
                    <key>cellOffsetX</key>
                    <integer>30</integer>
                    <key>cellOffsetY</key>
                    <integer>25</integer>
                    <key>boxBottomOffset</key>
                    <integer>102</integer>
                </dict>
                <key>month</key>
                <dict>
                    <key>baseBoxX</key>
                    <integer>510</integer>
                    <key>baseBoxY</key>
                    <integer>213</integer>
                    <key>boxRightOffset</key>
                    <integer>57</integer>
                    <key>boxBottomOffset</key>
                    <integer>120</integer>
                </dict>
                <key>week</key>
                <dict>
                    <key>baseBoxX</key>
                    <integer>41</integer>
                    <key>baseBoxY</key>
                    <integer>102</integer>
                    <key>titleLineY</key>
                    <integer>54</integer>
                    <key>cellOffsetX</key>
                    <integer>28</integer>
                    <key>cellOffsetY</key>
                    <integer>30</integer>
                    <key>cellHeight</key>
                    <integer>208</integer>
                    <key>lastCellHeight</key>
                    <integer>87</integer>
                </dict>
                <key>day</key>
                <dict>
                    <key>baseX</key>
                    <integer>27</integer>
                    <key>baseY</key>
                    <integer>34</integer>
                </dict>
            </dict>
            <key>Mobile</key>
            <dict>
                <key>year</key>
                <dict>
                    <key>baseBoxX</key>
                    <integer>23</integer>
                    <key>baseBoxY</key>
                    <integer>187</integer>
                    <key>cellOffsetX</key>
                    <integer>12</integer>
                    <key>cellOffsetY</key>
                    <integer>15</integer>
                    <key>boxBottomOffset</key>
                    <integer>76</integer>
                </dict>
                <key>month</key>
                <dict>
                    <key>baseBoxX</key>
                    <integer>24</integer>
                    <key>baseBoxY</key>
                    <integer>275</integer>
                    <key>boxBottomOffset</key>
                    <integer>34</integer>
                </dict>
                <key>week</key>
                <dict>
                    <key>baseBoxX</key>
                    <integer>16</integer>
                    <key>baseBoxY</key>
                    <integer>78</integer>
                    <key>titleLineY</key>
                    <integer>32</integer>
                    <key>cellOffsetX</key>
                    <integer>16</integer>
                    <key>cellOffsetY</key>
                    <integer>17</integer>
                    <key>cellHeight</key>
                    <integer>130</integer>
                    <key>lastCellHeight</key>
                    <integer>118</integer>
                </dict>
                <key>day</key>
                <dict>
                    <key>baseX</key>
                    <integer>16</integer>
                    <key>baseY</key>
                    <integer>34</integer>
                </dict>
            </dict>
        </dict>
        <key>screenFontDetails</key>
        <dict>
            <key>ipad</key>
            <dict>
                <key>year</key>
                <dict>
                    <key>yearFontSize</key>
                    <integer>155</integer>
                    <key>titleMonthFontSize</key>
                    <integer>19</integer>
                    <key>outMonthFontSize</key>
                    <integer>14</integer>
                </dict>
                <key>month</key>
                <dict>
                    <key>monthFontSize</key>
                    <integer>155</integer>
                    <key>yearFontSize</key>
                    <integer>48</integer>
                    <key>weekFontSize</key>
                    <integer>19</integer>
                    <key>dayFontSize</key>
                    <integer>19</integer>
                </dict>
                <key>week</key>
                <dict>
                    <key>monthFontSize</key>
                    <integer>12</integer>
                    <key>yearFontSize</key>
                    <integer>12</integer>
                    <key>weekFontSize</key>
                    <integer>12</integer>
                    <key>dayFontSize</key>
                    <integer>12</integer>
                </dict>
                <key>day</key>
                <dict>
                    <key>dayFontSize</key>
                    <integer>54</integer>
                    <key>monthFontSize</key>
                    <integer>18</integer>
                    <key>weekFontSize</key>
                    <integer>10</integer>
                    <key>yearFontSize</key>
                    <integer>10</integer>
                </dict>
            </dict>
            <key>iphone</key>
            <dict>
                <key>year</key>
                <dict>
                    <key>yearFontSize</key>
                    <real>75.7</real>
                    <key>titleMonthFontSize</key>
                    <integer>12</integer>
                    <key>outMonthFontSize</key>
                    <integer>9</integer>
                </dict>
                <key>month</key>
                <dict>
                    <key>monthFontSize</key>
                    <real>75.7</real>
                    <key>yearFontSize</key>
                    <real>23.4</real>
                    <key>weekFontSize</key>
                    <integer>12</integer>
                    <key>dayFontSize</key>
                    <integer>12</integer>
                </dict>
                <key>week</key>
                <dict>
                    <key>monthFontSize</key>
                    <integer>12</integer>
                    <key>yearFontSize</key>
                    <integer>12</integer>
                    <key>weekFontSize</key>
                    <integer>12</integer>
                    <key>dayFontSize</key>
                    <integer>12</integer>
                </dict>
                <key>day</key>
                <dict>
                    <key>dayFontSize</key>
                    <integer>48</integer>
                    <key>monthFontSize</key>
                    <integer>16</integer>
                    <key>weekFontSize</key>
                    <integer>11</integer>
                    <key>yearFontSize</key>
                    <integer>11</integer>
                </dict>
            </dict>
        </dict>
        <key>isToDisplayOutOfMonthDate</key>
        <true />
    </dict>
</plist>