<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>display_name</key>
	<string>Dark Brown</string>
	<key>display_name_ja</key>
	<string>焦げ茶色</string>
	<key>display_name_it</key>
	<string>Marrone scuro</string>
	<key>display_name_es</key>
	<string>Marrón oscuro</string>
	<key>display_name_de</key>
	<string>Dunkelbraun</string>
	<key>display_name_zh-Hans</key>
	<string>深棕色</string>
	<key>display_name_zh-Hant</key>
	<string>深棕色</string>
	<key>display_name_fr</key>
	<string>Brun foncé</string>
</dict>
</plist>
