<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>document_Ver</key>
	<string>4.0</string>
	<key>document_ID</key>
	<string>E025A44C-8EC1-486A-9085-668DE52AA17C</string>
	<key>device_ID</key>
	<string>Emulator</string>
	<key>app_version</key>
	<string>1.0</string>
</dict>
</plist>